.slide{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

span{
    color: red;
}

.name{
    width: 30%;
    padding-left: 50px;
}
.name h1{
    color: white;
}
.name span{
    color: red;
}

.nav{
    display: flex;
    padding: 10px;
    width: 98%;
    height: 100%;
    justify-items: first baseline;
}
.nav ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 74%;
}
.nav li{
    color: white;
    justify-items: center;
    margin-top: 15px;
}
.nav li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.nav li a:hover{
    background-color: rgb(186, 222, 222);
    border-radius: 10px;
}

.logo{
    position: absolute;
    width: 300px;
    top: 40%;
    left: 15%;
}
.logo h1{
    color: white;
    margin: 0%;
}
.logo span{
    color: red;
    font-size: 40px;
}
.logo div{
    border: 1px solid red;
    color: white;
    padding: 10px;
    width: 90px;
}

.text{
    text-align: center;
    height: 100px;
}
.text div{
    position: relative;
}
.text p{
    width: 40%;
    position: absolute;
    padding: 10px;
    top: 20%;
    left:30%;
}

.box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.box div{
    background-image: url(https://images.unsplash.com/photo-1494587351196-bbf5f29cff42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    border: 1px solid;
    border-radius: 5px;
    width: 280px;
    padding: 10px;
    color: white;
}
.box div img{
    width: 30%;
    height: 30%;
    padding-top: 0px;
}

.proj{
    position: relative;
    text-align: center;
    height: 1600px;
}
.flex{
    position: absolute;
    left: 30%;
}
.flex div{
    width: 60%;
    height: 300px;
    display: flex;
    
}
.flex div div{
    width: 50%;
    height: 100%;
    flex-direction: column;
    color: white;
}
.flex div div div{
    background-color: gray;
    width: auto;
}
.si{
    background-image: url(https://media.istockphoto.com/id/1364031269/photo/new-york-city-skyline-with-manhattan-financial-district-world-trade-center-and-orange-and.jpg?b=1&s=170667a&w=0&k=20&c=3PMLWAt7x4u9feZ_HJQxfUl-aZZhLx23UIjk2iE4fvc=);

}

.ap{
    position: relative;
    height: 400px;
}
.abp{
    position: absolute;
    left: 10%;
}
.ab{
    display: flex;
    width: 90%;
    height: 400px;
    position: relative;
}
.ab div{
    width: 100%;
    height: 200px;
    display: flex;
}
.bor div{   
    border: 5px solid red;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.bor img{
    position: absolute;
    width: 250px;
    height: 300px;
    top: 14%;
    left: 13%;
}
.about{
    padding-top: 8%;
    flex-direction: column;
}
.about button{
    width: 200px;
    padding: 10px;
}

.contact h1{
    text-align: center;
}
.co{
    width: 76%;
    height: 100px;
    position: relative;
}
.con{
    position: absolute;
    left: 40%;
    width: 60%;
}
.con div{
    width: 50%;
}
.co div{
    display: flex;
}
.co div div img{
    width: 50px;
    height: 50px;
}
.co div div div{
    width: 60%;

}
.cont{
    display: flex;
    flex-direction: column;
    height: 50px;
}
.cont h4{
    margin: 0;
}
.cont p{
    margin: 0;
}

.foot{
    background-color: aqua;
    width: 100%;
    height: 125px;
    text-align: center;

}
.foot div h3{
    margin: 0;
    padding: 10px;
}
.foot div div img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

@media (max-width: 900px) {
    .nav ul{
        list-style-type: none;
        overflow: hidden;
        display: flex;
        position: absolute;
        right: 0;
        gap: 10px;
        width: 74%;
    }
}